.footer {
  padding: 3em 0;
  margin-top: 4em;
  text-align: center;
}

.footer__text {
  font-size: 0.9rem;
  color: #555; 
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }
}
