.certifications__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  /* minmax(300px) ensures cards don't get too skinny */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  grid-gap: 2em;
}

@media (max-width: 600px) {
  .certifications__grid {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
}