.certifications__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
}

@media (max-width: 600px) {
  .certifications__grid {
    grid-template-columns: 1fr;
  }
}